.container .form-container .form-input {
    margin-bottom: 20px;
}

.container .form-container .forgot-password {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container .form-container .forgot-password p {
    width: max-content;
    font-size: 17px;
    cursor: pointer;
    margin: 15px 0px 15px 0px;
}
