:root {
  --white: #EEEEEE;
  --secondary-white: #E5E5E5;
  --input-white: #FFFFFF;
  --black: #222222;
  --secondary-black:#333333;
  --blue: #38A5FF;
  --evening-blue: #191B27;
  --secondary-evening-blue: #21232E;
  --purple: #525EFF;
  --cyan: #5CE1E6;
}

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Saira', 'Roboto', 'Oxygen',
   'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
