.form-header {
    display: flex;
    flex-direction: column;
}

.form-header p {
    font-size: 28px;
    font-weight: 500;
    align-self: flex-start;
    margin: 15px 0px 10px 0px;
}

.brand-and-step {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.brand-and-step img:nth-child(1) {
    width: 110px;
    align-self: center;
    margin: 40px 0px 20px 0px;
}

.brand-and-step img:last-child {
    width: 22px;
    align-self: flex-end;
    cursor: pointer;
}

.brand-and-step div {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1366px) {
    .brand-and-step {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 15px;
    }

    .brand-and-step div {
        flex-direction: row;
    }

    .brand-and-step img:nth-child(1) {
        width: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .brand-and-step img:last-child {
        align-self: unset;
        margin-left: 10px;
    }

    .form-header p {
        font-size: 21px;
        margin-left: 20px;
        align-self: center;
    }

}
