label {
    font-size: 14px;
    margin-left: 15px;
    color: #757575;
    font-weight: 500;
} 

.profile-artist-container {
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 65px;
    justify-content: center;
    flex-direction: column;
}

.profile-artist-container .profile-infos {
    display: flex;
    width: 99%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.profile-artist-container .profile-infos .name-and-photo {
    display: flex;
    width: 10%;
    min-width: 120px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-artist-container .profile-infos .name-and-photo p {
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-black);
    text-align: center;
}

.profile-artist-container .profile-infos .name-and-photo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.profile-avatar {
    display: flex;
    width: 120px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--purple);
}

.profile-avatar p {
    font-size: 50px !important;
    color: white !important;
}

.profile-artist-container .profile-infos .name-and-photo .stars-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.profile-artist-container .profile-infos .name-and-photo .stars-row img {
    width: 17px;
    height: 17px;
    margin: 4px 1px 0px 1px;
    background-color: transparent;
}

.profile-artist-container .profile-infos .description {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.profile-artist-container .profile-infos .description .instagram-row {
    display: flex;
    width: max-content;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.profile-artist-container .profile-infos .description .instagram-row img {
    height: 18px;
    margin-right: 5px;
}


.profile-artist-container .profile-infos .description .instagram-row .instagram-user {
    margin-top: 0px;
}

.profile-artist-container .profile-infos .description .title-label {
    font-weight: 500;
    font-size: 16px;
    color: var(--secondary-black);
}

.profile-artist-container .profile-infos .description p:nth-child(4),
.profile-artist-container .profile-infos .description p:nth-child(2) {
    margin-top: 10px;
}

.profile-artist-container .profile-infos .location-infos {
    display: flex;
    width: 30%;
    min-width: 360px;
    flex-direction: column;
}

.profile-artist-container .profile-infos .location-infos .location-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-button {
    display: flex;
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 50px;
    background-image: var(--blue-gradient);
    cursor: pointer;
}


.new-tattoo-button,
.update-instagram-button {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    border-radius: 50%;
    background-image: var(--blue-gradient);
    cursor: pointer;
}

.edit-button img {
    height: 13px;
}

.new-tattoo-button img {
    height: 19px;
}

.update-instagram-button img {
    height: 16px;
}

#new-tattoo, #update-instagram-images {
    margin-right: 70px;
    margin-bottom: -55px;
    z-index: 1;
}

.new-tattoo-img {
    width: 16px;
    height: 16px;
}

.circularProgress {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-right: 75px;
    margin-bottom: -55px;
}

.circularProgress img {
    height: 35px;
}

.profile-artist-container .profile-infos .location-infos .map {
    width: 265px;
    height: 150px;
    margin-top: 10px;
}

.pin-img {
    height: 40px;
}

.add-tattoo {
    width: 500px;
    height: calc(100% + 102px);
    display: flex;
    justify-content: center;
    margin-top: -102px;
    position: absolute;
    z-index: 1;
    background-color:var(--white);
    transition: all ease 0.5s;
}

.add-tattoo .add-tattoo-container {
    width: 75%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.add-tattoo .add-tattoo-container .inputs-row { 
    width: 100%;
    display: flex;
    flex-direction: row;
}

.add-tattoo .add-tattoo-container p{
    font-size: 22px;
    font-weight: 500;
    color: var(--secondary-black);
    text-align: center;
}

.add-tattoo .add-tattoo-container .inputs-column,
.edit-profile .edit-profile-container .inputs-column { 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
}

.add-tattoo .add-tattoo-container .inputs-column textarea,
.edit-profile .edit-profile-container .inputs-column textarea {
    width: 100%;
    max-width: 375px;
    max-height: 150px;
    resize: none;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 14px;
    font-family: 'Saira', 'Roboto', 'Oxygen',
   'Helvetica Neue',
    sans-serif;
}

.add-tattoo .add-tattoo-container .inputs-column label,
.edit-profile .edit-profile-container .inputs-column label {
    font-size: 14px;
    margin-left: 15px;
    color: #757575;
    font-weight: 500;
}

.tattoo-styles {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.tattoo-styles input {
    margin-left: 10px;
}

.tattoo-styles p {
    font-size: 16px !important;
    margin-left: 5px;
}

.tattoo-styles .tattoo-styles-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.edit-profile-container-row,
.add-tattoo-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 15px;
}

.edit-profile-container-row img, 
.add-tattoo-container-row img {
    height: 90px;
    border-radius: 50%;
    margin-right: 20px;
}

.edit-profile-container-row .profile-avatar {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.edit-profile-container-row .profile-avatar p {
    font-size: 40px !important;
}

.instagram-slider-button {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
   
}

@media (max-width: 1366px) {
    .profile-artist-container .profile-infos .location-infos {
        width: 33%;
    }

    .profile-artist-container .profile-infos .description {
        width: 47%;
    }
}
